<div *ngIf="loaded == false">
    <h2>loading ...</h2>
</div>
<div *ngIf="loaded == true">
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Edit product</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">

            <form class="text-center" style="color: #757575;" action="#!" [formGroup]="productEditForm" (ngSubmit)="onSubmit()">

                <div class="md-form mt-3">
                    <input type="text" id="caption" formControlName="caption" class="form-control" placeholder="Caption">
                </div>

                <div class="md-form">
                    <input type="text" id="description" formControlName="description" class="form-control" placeholder="Description">
                </div>

                <div class="md-form">
                    <input type="number" id="price" formControlName="price" class="form-control" placeholder="Price">
                </div>
                <br>
                <div class="col-xs-12">
                    <label>Brand</label>
                    <div>
                        <select id="brandType" class="form-control" formControlName="brandType">
                            <option *ngFor="let brandType of brandTypeList" [value]="brandType.brandTypeID">{{ brandType.caption }}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="col-xs-12" formArrayName="categories">
                    <label>Categories</label>
                    <div 
                        *ngFor="let categoryCtrl of productEditForm.get('categories').controls; let i = index" 
                        [formGroupName]="i">
                        <div>
                            <select id="category" class="form-control" formControlName="category">
                                <option *ngFor="let category of categoryList" [value]="category.categoryID">{{ category.caption }}</option>
                            </select>
                            <button *ngIf="i > 0" type="button" class="btn btn-danger" (click)="onDeleteCategory(i)">X</button>
                        </div>
                    </div>
                    <br>               
                    <div>
                        <div>
                            <button type="button" class="btn btn-info" (click)="onAddCategory()">
                                Add Category
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-xs-12" formArrayName="sizeTypes">
                    <label>Sizes</label>
                    <div 
                        *ngFor="let sizeTypeCtrl of productEditForm.get('sizeTypes').controls; let i = index" 
                        [formGroupName]="i">
                        <div>
                            <select id="sizeType" class="form-control" formControlName="sizeType">
                                <option *ngFor="let sizeType of sizeTypeList" [value]="sizeType.sizeTypeID">{{ sizeType.caption }}</option>
                            </select>
                            <button *ngIf="i > 2" type="button" class="btn btn-danger" (click)="onDeleteSizeType(i)">X</button>
                        </div>
                    </div>
                    <br>               
                    <div>
                        <div>
                            <button type="button" class="btn btn-info" (click)="onAddSizeType()">
                                Add Size
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>
                <br><br><br>

                <button [disabled]="!productEditForm.valid" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Update</button>

            </form>

        </div>

    </div>
</div>