<div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Login</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" action="#!" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="md-form mt-3">
                <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
            </div>
            <div class="md-form mt-3">
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Login</button>
        </form>
    </div>
</div>