<html lang="en" class="full-height">

<header>

  <nav class="navbar navbar-expand-lg navbar-dark black">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="userService.isUserAuthenticated()" class="nav-item"><a href="products">Products</a></li> <p *ngIf="userService.isUserAuthenticated()">|</p>
          <li *ngIf="userService.isUserAuthenticated()" class="nav-item"><a href="orders">Orders</a></li>
        </ul>
        <ul style="float:right;">
             <a *ngIf="!userService.isUserAuthenticated()" href="login">Log in</a>
             <a *ngIf="userService.isUserAuthenticated()" href (click)="onLogout()">Log out</a>
        </ul>
      </div>
    </div>
  </nav>

</header>