<div>    
    Products
    <table mdbTable bordered="true">
        <thead>
          <tr>
            <th *ngFor="let head of productsHeadElements" scope="col"> {{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let product of productList;let i = index">
            <td>{{i+1}}</td>
            <td> {{product.caption}} </td>
            <td> {{product.description}} </td>
            <td> {{product.price}} </td>
            <td> {{product.brandType}} </td>
            <td> {{product.categories}} </td>
            <td> {{product.sizeTypes}} </td>
            <td><button type="button" class="btn btn-info" (click)="onEdit(product.productID)">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="onDelete(product.productID)">Delete</button></td>
          </tr>
        </tbody>
    </table>  
    <a href="create-product">Add new product</a>
</div>