<div>    
    Orders
    <table mdbTable bordered="true">
        <thead>
          <tr>
            <th *ngFor="let head of ordersHeadElements" scope="col"> {{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let order of orderList;let i = index">
            <td>{{i+1}}</td>
            <td> <span *ngFor="let orderItem of order.orderItems"><b>[</b>{{orderItem.productCaption}} ({{orderItem.price}}$) x {{orderItem.quantity}}<b>]</b></span></td>
            <td> {{order.totalPrice}} </td>
            <td> {{order.createdDate}} </td>
            <td><button type="button" class="btn btn-info" (click)="onEdit(order.orderID)">Edit</button></td>
            <td><button type="button" class="btn btn-danger" (click)="onDelete(order.orderID)">Delete</button></td>
          </tr>
        </tbody>
    </table>  
    <a href="create-order">Add new order</a>
</div>