<div *ngIf="loaded == false">
    <h2>loading ...</h2>
</div>
<div *ngIf="loaded == true">
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Edit order</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">

            <form class="text-center" style="color: #757575;" action="#!" [formGroup]="orderEditForm" (ngSubmit)="onSubmit()">

                <br>
                <div class="col-xs-12" formArrayName="orderProducts">
                    <div 
                        *ngFor="let orderProductCtrl of orderEditForm.get('orderProducts').controls; let i = index" 
                        [formGroupName]="i">
                        <br>
                        Order item {{i + 1}}
                        <div>
                            <select id="product" class="form-control" formControlName="product">
                                <option *ngFor="let product of productList" [value]="product.productID">{{ product.caption }} ({{ product.price }}$)</option>
                            </select>

                            <div class="md-form">
                                <input type="number" min="1" oninput="validity.valid||(value='');" id="quantity" formControlName="quantity" class="form-control" placeholder="Quantity">
                            </div>
                            <button *ngIf="i > 0" type="button" class="btn btn-danger" (click)="onDeleteOrderProduct(i)">X</button>
                        </div>
                    </div>
                    <br>               
                    <div>
                        <div>
                            <button type="button" class="btn btn-info" (click)="onAddOrderProduct()">
                                Add order item
                            </button>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="md-form">
                    <Label>Total price: </Label>
                    <input type="number" disabled id="totalPrice" formControlName="totalPrice" class="form-control" placeholder="totalPrice">
                </div>

                <button [disabled]="!orderEditForm.valid || buttonDisabled" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Update</button>

            </form>

        </div>

    </div>
</div>